{:rename-macros {}, :renames {}, :externs {Error {}}, :use-macros {}, :excludes #{}, :name active.clojure.record, :imports nil, :requires nil, :uses nil, :defs {check-type {:protocol-inline nil, :meta {:file "/Users/marcoschneider/Work/active-graphql/.cljs_rhino_repl/active/clojure/record.cljc", :line 4, :column 7, :end-line 4, :end-column 17, :arglists (quote ([type rec accessor]))}, :name active.clojure.record/check-type, :variadic false, :file ".cljs_rhino_repl/active/clojure/record.cljc", :end-column 17, :method-params ([type rec accessor]), :protocol-impl nil, :arglists-meta (nil nil), :column 1, :line 4, :end-line 4, :max-fixed-arity 3, :fn-var true, :arglists (quote ([type rec accessor]))}}, :require-macros nil, :doc nil}